.fit-contain {
  object-fit: contain;
}

.list-content {
  display: flex;
  flex-direction: column;
}
.list-content p{
	flex: 1 0 auto;
}

.bg-measure-v {
  position: relative;

  background-image: linear-gradient(180deg,rgba(255,0,0,0.2) 14px, #f00 8px);
  background-repeat: repeat-y;
  background-position: 0% 2px;
  background-size: 2px 16px;
}
.bg-measure-h {
  position: relative;

  background-image: linear-gradient(90deg, rgba(255,0,0,.2) 14px, #f00 8px);
  background-repeat: repeat-x;
  background-position: 2px 50%;
  background-size: 16px 2px;
}
.h6 {
  height: 32rem;
}
.w6 {
  width: 32rem;
}

.bg-measure-grid {
  background:  linear-gradient(90deg, #fff 6px, transparent 1%), linear-gradient(#fff 6px, transparent 1%), rgba(255,0,0,0.1);
  background-position: calc(50% - -1px) calc(50% - -1px);
  background-size: 8px 8px;
}

.bg-measure {
  position: relative;

  background-image: linear-gradient(90deg, rgba(255,0,0,.2) 14px, #f00 8px);
  background-repeat: repeat-x;
  background-position: calc(50% - -1px) 50%;
  background-size: 16px 2px;
}

.bg-measure:after {
  position: relative;
  position: absolute;
  top:0;
  left:0;

  width: 100%;
  height: 100%;

  content: '';

  background-image: linear-gradient(180deg,rgba(255,0,0,0.2) 14px, #f00 8px);
  background-repeat: repeat-y;
  background-position: 50% calc(50% - -1px);
  background-size: 2px 16px;
}

.hover-motion-child {
  transform:translateY(0);

  will-change: transform;
}

.hover-motion-parent:hover > .hover-motion-child {
  transform:translateY(-4%);
}



.c-red { color: #c00; }
.bg-c-red { background-color: #c00; }
.b--c-red { border-color: #c00; }

.shadow-6 {
  filter: drop-shadow(0px 20px 17px rgba(0,0,0,0.2));
}
.link.outline-0:focus, .link.outline-0:active {
  outline: none;
}
.hover-c-red:hover,
.hover-c-red:focus { color: #c00; }

.hover-bg-c-red:hover,
.hover-bg-c-red:focus { background-color: #c00; }

.c-blue { color: #006fb4; }
.bg-c-blue { background-color: #006fb4; }
.b--c-blue { border-color: #006fb4; }

.hover-c-blue:hover,
.hover-c-blue:focus { color: #006fb4; }

.hover-bg-c-blue:hover,
.hover-bg-c-blue:focus { background-color: #006fb4; }

.c-green { color: #328538; }
.bg-c-green { background-color: #328538; }
.b--c-green { border-color: #328538; }

.hover-c-green:hover,
.hover-c-green:focus { color: #328538; }

.hover-bg-c-green:hover,
.hover-bg-c-green:focus { background-color: #328538; }
img {
  display: block;
}
.arrow-down, .arrow-top, .arrow-left, .arrow-right {
  position: relative;
}
.arrow-left::after {
  position: absolute;
  top: 50%;
  right: 100%;

  content: '';
  transform: translateY(-50%);

  border-top: 8px solid transparent;
  border-right: 8px solid currentColor;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;

  filter: drop-shadow(-1px 0px 0px rgba(0,0,0,0.1));

}
.arrow-right::before {
  position: absolute;
  top: 50%;
  left: 100%;

  content: '';
  transform: translateY(-50%);

  border-top: 8px solid rgba(255, 255, 255, 0);
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid currentColor;

  filter: drop-shadow(1px 0px 0px rgba(0,0,0,0.1));

}
.arrow-top::before {
  position: absolute;
  bottom: 100%;
  left: 50%;

  content: '';
  transform: translateX(-50%) rotate(180deg);

  border-top: 8px solid currentColor;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;

  filter: drop-shadow(0px 1px 0px rgba(0,0,0,0.1));

}
.arrow-down::after {
  position: absolute;
  top: 100%;
  left: 50%;

  content: '';
  transform: translateX(-50%);

  border-top: 8px solid currentColor;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;

  filter: drop-shadow(0px 1px 0px rgba(0,0,0,0.1));
}


body {
  font-family: 'gotham-book';
}


.shadow-1 {
  box-shadow: 0px 1px 1px 0 rgba(0,0,0,.1), 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
}

.shadow-2 {
  box-shadow: 0px 1px 1px 0 rgba(0,0,0,.1) inset, 0px 4px 12px 0px rgba(0, 0, 0, 0.1) inset;
}

.shadow-3 {
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.2);
}

.shadow-4 {
  box-shadow: 0px 24px 64px 0px rgba(0, 0, 0, 0.3);
}
